h1 {
    font-size: 2.5vh;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1vh;
    margin-top: 0;
}
h2 {
    font-size: 2vh;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 3vh;
}