h1 {
    font-size: 2.5vh;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1vh;
    margin-top: 0;
}
#button-log {
    margin-top: 4vh;
    height: 4vh;
    width: 4vh;
    font-size: 1vh;
}
#button-load {
    margin-top: 9vh;
    height: 4vh;
    width: 4vh;
    font-size: 1vh;
}
#jsonInput {
    margin-top: 14vh;
    height: 1vh;
    width: 4vh;
    font-size: 1vh;
}